.App {
    padding: 1rem;
}

.btn {
    color: aliceblue;
    background-color: blueviolet;
    border-radius: 1rem;
    width: 5rem;
}

ul {
    padding: 0;
}

/* --------------------------------*/

.app-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.first-half {
}

/* --------------------------------*/

.friends-container {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.friends-grid-container {
    height: 8rem;
    display: grid;
    grid-template-columns: 1fr 10fr 10fr;
    gap: 2rem;
    margin-bottom: 0.5rem;
    background-color: lightgray;
    padding: 0.5rem;
}

.friends-container > button {
    padding: 0.5rem 1.5rem;
    width: 5rem;
    align-self: flex-end;
}

.image-select {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
}

.name-selected-friend-text {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.select {
    height: 2rem;
    justify-self: flex-end;
    margin-top: auto;
    margin-bottom: auto;
}

/* --------------------------------*/

.add-friend-container {
    background-color: lightgray;
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.first-input,
.second-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}

.add-friend-container > button {
    align-self: end;
}

.close {
    margin-top: 0.5rem;
}
/* --------------------------------*/

.split-with-container {
    border: 2px solid tomato;
    margin-bottom: 2rem;
}
